<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fingerprint Sessions Report</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/angular.min.js"></script>
    <!--<script type="text/javascript" src="js/angular-route.min.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
</head>
<body>
<div ng-app="fingerprint" class="container" ng-controller="controllerX" style="padding: 20px">

    <h1>Fingerprint Sessions Report</h1>

    <div w3-include-html="tabsLink.html"></div>
    <!--Search form-->
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

                <input type="text" class="form-control" placeholder="Search Anything" ng-model="search">

            </div>
        </div>
    </form>

    <table class="table table-condesed table-striped table-bordered">
        <thead>
        <tr>
            <th>Employee Code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Logout time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in fingerprintContent | orderBy:sortType:sortReverse | filter:search">
            <td style ="word-break:break-all;">{{employee.empCode}}</td>
            <td style ="word-break:break-all;">{{employee.first_name}}</td>
            <td style ="word-break:break-all;">{{employee.last_name}}</td>
            <td style ="word-break:break-all;">{{employee.logoutTime}}</td>
            <!--<td style ="word-break:break-all;"><button class="btn btn-danger" ng-click="removeService(service._id)">Remove</button></td>
            <td style ="word-break:break-all;"><button class="btn btn-warning" ng-click="editService(service._id)">Edit</button></td>-->
        </tr>
        </tbody>
    </table>

</div>

<script>
    var app = angular.module('fingerprint', []);
    app.controller('controllerX', function($scope, $http) {
        $scope.sortType     = 'logoutTime'; // set the default sort type
        $scope.sortReverse  = true;  // set the default sort order
        $http({
            method : "GET",
            url : "/fingerprintCore/sessions"
        }).then(function mySucces(response) {

            $scope.fingerprintContent = response.data;
			for (var i=0; i < $scope.fingerprintContent.length; i++) {
				var today = new Date($scope.fingerprintContent[i].logoutTime *1);
				
				$scope.fingerprintContent[i].logoutTime = formatTime(today);
			}
            console.log($scope.fingerprintContent+" "+response.data);

        }, function myError(response) {

            $scope.fingerprintContent = response.statusText;

        });
    });
	
	function formatTime(today) {
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();
		var hours = today.getHours();
		var minutes = today.getMinutes() < 10 ? '0'+today.getMinutes() : today.getMinutes();
		var seconds = today.getSeconds()< 10 ? '0'+today.getSeconds() : today.getSeconds();
		if(dd<10){
			dd='0'+dd;
		} 
		if(mm<10){
			mm='0'+mm;
		} 
		var todayNew = dd+'/'+mm+'/'+yyyy+ ' '+hours+ ':'+minutes+':'+seconds;
		return todayNew;
	}
</script>
<script src="javascript/includeHTML.js"></script>
</body>
</html>