<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fingerprint report</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

    <!-- Optional theme -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/angular.min.js"></script>
    <!--<script type="text/javascript" src="js/angular-route.min.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
</head>
<body>
<div class="container" ng-app="fingerprint" ng-controller="controllerX">

    <h1>Employee time at work report</h1>
	<div id = "tabsLink" w3-include-html="tabsLink.html"></div>
    <!--Search form-->
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

                <input type="text" class="form-control" placeholder="Search Anything" ng-model="search">

            </div>
        </div>
    </form>

    <div id = "alert_placeholder"></div>
    <table class="table table-condesed table-striped table-bordered" show-filter="true">
        <thead>
        <tr>
            <th>Employee Code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Branch</th>
            <th>Logged in</th>
            <th>Login Time</th>
            <th>Logout Time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in fingerprintContent | orderBy:sortType:sortReverse | filter:search">
            <td style ="word-break:break-all;">{{employee.empCode}}</td>
            <td style ="word-break:break-all;">{{employee.first_name}}</td>
            <td style ="word-break:break-all;">{{employee.last_name}}</td>
            <td style ="word-break:break-all;">{{employee.emp_branch}}</td>
            <td style ="word-break:break-all;">{{employee.isLoggedIn}}</td>
            <td style ="word-break:break-all;">{{employee.loginTime}}</td>
            <td style ="word-break:break-all;">{{employee.logoutTime}}</td>
            <td style ="word-break:break-all;"><button class="btn btn-success" data-toggle="popover" title="Supervisor" data-content="{{message}}" ng-click="showSupervisor(employee.emp_branch)">Show Branch Supervisor</button></td>
           <!-- <td style ="word-break:break-all;"><button class="btn btn-danger" ng-click="removeService(service._id)">Remove</button></td>
            <td style ="word-break:break-all;"><button class="btn btn-warning" ng-click="editService(service._id)">Edit</button></td>-->
        </tr>
        </tbody>
    </table>

</div>

<script>
    var app = angular.module('fingerprint', []);
    app.controller('controllerX', function($scope, $http) {
        $scope.sortType     = 'first_name'; // set the default sort type
        $scope.sortReverse  = true;  // set the default sort order
        $scope.fingerprintContent = [];
        $http({
            method : "GET",
            url : "/fingerprintCore/timeAtWork"
        }).then(function mySucces(response) {

            for(var x=0; x<response.data.length; x++){
                if(response.data[x].isSuperVisor != undefined && !response.data[x].isLoggedIn){
                    console.log(response.data[x].isSuperVisor);
                    if(!response.data[x].isSuperVisor){
                        $scope.fingerprintContent.push(response.data[x]);
                    }

                }
            }


        }, function myError(response) {

            $scope.fingerprintContent = response.statusText;

        });

        //getAllBranches
        $scope.showSupervisor = function(branchName){
            $http({
                method: "GET",
                url: "/fingerprintCore/getSupervisor/"+branchName
            }).then(function succ(response){
                $scope.message = "All " + branchName + " branches are supervised by ::" + response.data.content.branchSupervisor;
                //$('#alert_placeholder').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>')
                $('[data-toggle="popover"]').popover();
                //alert("All "+branchName+" branches are supervised by "+response.data.content.branchSupervisor);
            }, function error(respo){

            });
        };
    });
</script>
<script src="javascript/includeHTML.js"></script>
</body>
</html>