<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Late Employees</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

    <!-- Optional theme -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/angular.min.js"></script>
    <!--<script type="text/javascript" src="javascript/main.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
</head>
<body>
<div ng-app="fingerprint" id="linksHeader" class="container" ng-controller="controllerX">

    <h1>Late employees</h1>
	<div id = "tabsLink" w3-include-html="tabsLink.html"></div>
    <!--Search form-->
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

                <input type="text" class="form-control" placeholder="Search Anything" ng-model="search">

            </div>
        </div>
    </form>
    <div id = "alert_placeholder"></div>
    <table class="table table-condesed table-striped table-bordered">
        <thead>
        <tr>
            <th>Employee Code</th>
            <th>First Name</th>
            <th>Last Name</th>
			<th>Time at office</th>
			<th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in empDelays | filter:search">
            <td style ="word-break:break-all;">{{employee.empCode}}</td>
            <td style ="word-break:break-all;">{{empDetails[$index].first_name}}</td>
            <td style ="word-break:break-all;">{{empDetails[$index].last_name}}</td>
            <td style ="word-break:break-all;">{{employee.time}}</td>
			<td style ="word-break:break-all;">{{employee.date}}</td>
            </tr>
        </tbody>
    </table>

</div>

<script>
    var app = angular.module('fingerprint', []);
    app.controller('controllerX', function($scope, $http) {
		$scope.empDetails = []
        $scope.empDelays = [];

        var refreshPage = function(){
            window.location.reload();
        };

        //refresh content
        var refreshContent = function(){
            $http({
                method : "GET",
                url : "/fingerprintCore/fingerprint/getLateEmployees"
            }).then(function mySucces(response) {
				$scope.empDetails = response.data.empDetails
				$scope.empDelays = response.data.empDelays

            }, function myError(response) {

				console.log(response);
                $scope.fingerprintContent = response.statusText;

            });
        };
		
        refreshContent();
    });

</script>
<script src="javascript/includeHTML.js"></script>
</body>
</html>