<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fingerprint report</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

    <!-- Optional theme -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/angular.min.js"></script>
    <!--<script type="text/javascript" src="javascript/main.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
</head>
<body>
<div ng-app="fingerprint" class="container" ng-controller="controllerX">

    <h1>Add Companies</h1>
	<div id = "tabsLink" w3-include-html="tabsLink.html"></div>
    <div class="container">

        <form class="form-horizontal" name="configure_ip">
            <div class="form-group">
                <label class="control-label col-sm-2" >Company Name:</label>
                <div class="col-sm-10">
                    <input type="text" required="required" class="form-control" placeholder="Company Name" ng-model="company_name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" >Company Location:</label>
                <div class="col-sm-10">
                    <input type="text" required="required" class="form-control" placeholder="Company Location" ng-model="company_location">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="addCompany(company_name, company_location)">
                        Add Company
                    </button>
                </div>
            </div>
        </form>
    </div>


    <!--Search form-->
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

                <input type="text" class="form-control" placeholder="Search Anything" ng-model="search">

            </div>
        </div>
    </form>

    <table class="table table-condesed table-striped table-bordered">
        <thead>
        <tr>
            <th>Company Name</th>
            <th>Company Location</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="companyDetails in companyList | orderBy:sortType:sortReverse | filter:search">
            <td style ="word-break:break-all;">{{companyDetails.name}}</td>
            <td style ="word-break:break-all;">{{companyDetails.location}}</td>
            <td style ="word-break:break-all;"><button class="btn btn-danger" ng-click="removeIP(companyDetails._id)">Delete Company</button></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    var app = angular.module('fingerprint', []);
    app.controller('controllerX', function($scope, $http) {

        //refresh content
        var refreshContent = function(){
            $http({
                method : "GET",
                url : "/fingerprintCore/fingerprint/getCompanies"
            }).then(function mySucces(response) {

                $scope.companyList = response.data.content;
                console.log(response.data.content);

            }, function myError(response) {

                $scope.companyList = response.statusText;

            });
        };
        refreshContent();

        //delete ccmpany
        $scope.removeIP = function(id){

            if (confirm("Are you sure you want to remove this company?") == true) {
                console.log(id+" ===");
                $http({
                    method:"DELETE",
                    url:"/fingerprintCore/fingerprint/deleteCompany/"+id
                }).then(function succeeded(response){
                    console.log(response);
                    refreshContent();
                },function failure(responseErr){
                    console.log(responseErr);
                });
            }

        };

        //add new company
        $scope.addCompany = function(companyName, companyLocation){
            $http({
                method:"POST",
                url:"/fingerprintCore/fingerprint/addCompanies",
                data:
                {   'name'    :companyName,
                    'location':companyLocation
                }

            }).then(function succeeded(response){
                console.log(response);
                refreshContent();
            },function failed(responseErr){
                console.log(responseErr);
            });
        };
    });

</script>
<script src="javascript/includeHTML.js"></script>
</body>
</html>