<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fingerprint report</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

    <!-- Optional theme -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/angular.min.js"></script>
    <!--<script type="text/javascript" src="js/angular-route.min.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
</head>
<body>
<div ng-app="fingerprint" class="container"ng-controller="controllerX" >

    <h1>Employee time at work report</h1>
	<div id = "tabsLink" w3-include-html="tabsLink.html"></div>
    <!--Search form-->
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

                <input type="text" class="form-control" placeholder="Search Anything" ng-model="search">

            </div>
        </div>
    </form>

    <table class="table table-condesed table-striped table-bordered">
        <thead>
        <tr>
            <th>Employee Code</th>
            <th>Logged In</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in fingerprintContent | orderBy:sortType:sortReverse | filter:search">
            <td style ="word-break:break-all;">{{employee.empCode}}</td>
            <td style ="word-break:break-all;">{{employee.isLoggedIn}}</td>
            <!-- <td style ="word-break:break-all;"><button class="btn btn-danger" ng-click="removeService(service._id)">Remove</button></td>
             <td style ="word-break:break-all;"><button class="btn btn-warning" ng-click="editService(service._id)">Edit</button></td>-->
        </tr>
        </tbody>
    </table>

</div>

<script>
    var app = angular.module('fingerprint', []);
    app.controller('controllerX', function($scope, $http) {
        $scope.sortType     = 'loginTime'; // set the default sort type
        $scope.sortReverse  = false;  // set the default sort order
        $http({
            method : "GET",
            url : "/fingerprintCore/userLoginDetails"
        }).then(function mySucces(response) {

            $scope.fingerprintContent = response.data.content;
            console.log($scope.fingerprintContent+" "+response.data.content);

        }, function myError(response) {

            $scope.fingerprintContent = response.statusText;

        });
    });
</script>

<script src="javascript/includeHTML.js"></script>
<script>
	$(document).ready(function(){
		setTimeout(function() {
			$("#login").addClass('active');
		}, 500)
	});
</script>
</body>
</html>